
@{
    ViewBag.Title = "ListPlayers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble font-dark hide"></i>
            <span class="caption-subject font-dark bold uppercase">Jogadores</span>
            <br />
            <a data-toggle="modal" href="#AddPlayer" class="btn  btn-circle btn-primary">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i> Add Jogador
            </a>
        </div>
        <div class="actions">
            <div class="form-group">
                <label class="control-label">Escolha um time: </label>
                <select id="SelTeamListPlayers" class="form-control">
                    <option value="0">Escolha um time</option>
                    @Html.Raw(ViewBag.SelectTeamPlayersHtml)
                </select>

            </div>
        </div>
    </div>
    <div class="portlet-body">
        <table data-toggle="table" data-height="500">
            <thead>
                <tr>
                    <th>Nome do jogador</th>                  
                </tr>
            </thead>
            <tbody id="Content_tr"></tbody>
        </table>
    </div>
</div>